        <div class="row">
          <div class="span_full">
           <form name="form_list" method="POST" id="form_list" class="navbar-content" onsubmit="return false;">
		   {list}
		   <p>No. Reg</p>
		   {registered_number}
		   <hr/>
            <table class="attr borders">
				 <tr>
                    <th width="">Nama</th>
					<th width="" class="center">Total Pax</th>
					<th width="" class="center">Status</th>
                 </tr>
				
            	<tr class="record">
					<td class="td-content">{customers}</td>
					<td class="td-content center">{total_manifest}</td>
					<td class="td-content center"><span class="label {label}">{status}</span></td>
                </tr>
             </table>
			 <hr/>
			 <p>Tgl. Diperbaruhi</p>
			 <i class="icon-calendar"></i> {modify_date}
			 <hr/>
			 <p>Tgl. Diajukan</p>
			 <i class="icon-calendar"></i> {create_date}
			 <hr/>
			 {/list}
			 <input type="button" class="btn info" value="Close" onclick="show_search()" />
             </form>
          </div>
</div>